<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="container-fluid container-fluid-custom pb-5 mb-5">

    <div class="row">
      <% if(NoteList != '') { %>
        <% NoteList.forEach(function (note, index) { %>
          
          <a href="/views/detailNote/<%=note._id%>">
            <h4><%= note.title %></h4>
          </a>
  
        <% }) %>
      <% } else { %>
        <p>You have no Note now. Let <a class="nav-link" href="/views/newNote">create new one</a></p>
      <% } %>
  
    </div>
  
  </div>
<!-- <div class="row">
  <div class="col-sm-8">
    <div class="jumbotron">
      <h1>This is great</h1>
      <p>Welcome to templating using QuangTT12</p>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="well">
      <h3>Look I'm A Sidebar!</h3>
    </div>
  </div>
</div> -->
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>