<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <script src="https://momentjs.com/downloads/moment.js"></script>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <% if(NoteList != '') { %>
    <% NoteList.forEach(function (note, index) { %>
      
      <div class="card w-75">
        <div class="card-body">
          <h5 class="card-title"><a href="/views/detailNote/<%=note._id%>"><%= note.title %></a></h5>
          <p class="card-text">Create at <%= moment(note.created_at).format('hh:mm a MMM DD YYYY') %></p>
        </div>
      </div>

    <% }) %>
  <% } else { %>
    <p>You have no Note now. Let <a class="nav-link" href="/views/newNote">create new one</a></p>
  <% } %>
  

  <!-- <div class="container-fluid container-fluid-custom pb-5 mb-5">

    <div class="row">
      <% if(NoteList != '') { %>
        <% NoteList.forEach(function (note, index) { %>
          
          <a href="/views/detailNote/<%=note._id%>">
            <h4><%= note.title %></h4>
          </a>
  
        <% }) %>
      <% } else { %>
        <p>You have no Note now. Let <a class="nav-link" href="/views/newNote">create new one</a></p>
      <% } %>
  
    </div>
  </div> -->
  
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>