<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>
    <%- include('../partials/head'); %>
    <%- include('../partials/header'); %>
  </head>

  <body>
    <div class="container">
      <form class="form-signin" action="../../../api/users/update/<%=user._id%>?_method=PUT" method="POST">
        <h2 class="form-signin-heading">Update User Account</h2>
        <% if (typeof isWrongPassword == 'object' && isWrongPassword) { %>
          <p>Nhập sai pass rồi</p>
        <% } %>
        <label for="inputEmail" class="sr-only">First Name</label>
        <input
          type="text"
          id="firstname"
          name="firstname"
          class="form-control"
          placeholder="First Name"
          value = '<%= user.firstname %>'
          required=""
        />
        <label for="inputEmail" class="sr-only">Last Name</label>
        <input
          type="text"
          id="lastname"
          name="lastname"
          class="form-control"
          placeholder="Last Name"
          value = '<%= user.lastname %>'
          required=""
        />
        <label for="inputPassword" class="sr-only">Old Password</label>
        <input
          type="password"
          id="oldPassword"
          name="oldPassword"
          class="form-control"
          placeholder="Password"
          required=""
        />
        <label for="inputPassword" class="sr-only">New Password</label>
        <input
          type="password"
          id="newPassword"
          name="newPassword"
          class="form-control"
          placeholder="Password"
          required=""
        />
        <br />
        <div id="SignupFail"></div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" >
          Sign in
        </button>
        <br />

        <p>
          You've got an accout? Click <a href="/views/login">here</a> to login.
        </p>
      </form>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
